/* Colors */

.color-primary {
	color: $color-primary;
}

.color-primary-bg {
	background-color: $color-primary;
}

.color-secondary {
	color: $color-secondary;
}

.color-secondary-bg {
	background-color: $color-primary;
}

.color-third {
	color: $color-third;
}

.color-third-bg {
	background-color: $color-third;
}

.color-black {
	background-color: black; 
}